#main {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: rgb(77, 77, 77);
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
	font-size: 45px;
}
h4 {
	font-size: 25px;
	font-weight: 600;
}

#home-main-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 36px;
	font-weight: 700;
}

#TranspaIntro {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 70px 0px;

	background-color: rgba(96, 178, 230, 0.219);
}

#home-image {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
}
#transpa-image {
	height: 500px;
}

#home-introText {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;

	width: 40%;
	padding: 0 30px;
}

#productCards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: rgba(96, 178, 230, 0.219);
	width: 100%;
	padding: 0 0 5% 0;
}

.productCards {
	display: flex;
	justify-content: center;
	background-color: rgba(96, 178, 230, 0.219);
	width: 100%;
}

.blockTitle {
	display: flex;
	align-items: center;
	height: 120px;
	text-align: center;
}

#transpa-advantages {
	display: flex;
	justify-content: space-around;
	padding: 0 5%;
}

ul {
	list-style: none;
}
li {
	font-weight: 800;
}
ul li::before {
	content: "";
	background-image: url(https://i.ibb.co/CMw9mGY/Transpa-Logo-1.png);
	background-size: contain;
	display: inline-block;
	width: 2em;
	height: 2em;
	position: relative;
	top: 0.7rem;
	margin-right: 0.5rem;
}
