#main {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: rgb(77, 77, 77);
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
	font-size: 45px;
}

#TranspaIntro {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 70px 0px;

	background-color: rgba(0, 47, 255, 0.11);
}

#home-image {
	display: flex;
	justify-content: center;

	width: 40%;
	background-color: rgb(255, 255, 255);
}
#home-introText {
	display: flex;
	justify-content: center;

	width: 40%;
	/* background-color: rgb(113, 57, 224); */
}

#productCards {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: whitesmoke;
	width: 100%;
}
