#mainFormField {
	font-size: 20px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#form {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-start;
}

.form-item {
	height: 35px;
}

.form-label {
	height: 35px;
	margin-right: 20px;
	font-size: 20px;
}

.form-input {
	padding: 3px;
	margin-right: 20px;
	font-size: 20px;
}

#form-button {
	height: 40px;
	width: 100px;

	text-transform: capitalize;
	font-size: 20px;
	font-weight: 600;
	text-align: center;

	background-color: rgb(53, 169, 180);
	border: rgba(102, 205, 171, 0.979);
	border-radius: 5px;
	color: rgb(255, 255, 255);
}

#form-button:hover {
	color: rgb(231, 231, 231);
	box-shadow: 0 1px 2px 0 rgba(53, 169, 180, 0.555),
		0 2px 5px 0 rgba(118, 116, 141, 0.281);
}
#form-button:active {
	color: rgb(187, 187, 187);
	box-shadow: 0 1px 2px 0 rgba(53, 169, 180, 0.555),
		0 2px 5px 0 rgba(118, 116, 141, 0.281);
}
