.navbar {
	display: flex;
	justify-content: space-between;

	box-shadow: 0 4px 8px 0 rgba(186, 187, 187, 0.555),
		0 6px 20px 0 rgba(118, 116, 141, 0.281);

	color: rgb(77, 77, 77);
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 20px;
	border-bottom: 2px solid rgb(118, 190, 190);
	width: 200px;
	height: 50px;
}
.nav-item:hover {
	color: rgb(0, 0, 0);
	box-shadow: 0 2px 4px 0 rgba(53, 169, 180, 0.555),
		0 3px 10px 0 rgba(118, 116, 141, 0.281);
}

#loggedIn {
	align-self: flex-start;
	display: flex;
	justify-content: flex-start;
}

#loggedOut {
	display: flex;
	justify-content: space-between;
}

a {
	color: rgb(77, 77, 77);
	text-decoration: none;
}
a:hover {
	color: rgb(36, 36, 36);
	font-weight: bold;
}

.nav-button {
	background: none;
	color: rgb(77, 77, 77);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
